:root {
    --primary-color: #0073b7;
    --primary-hover: #007ec7;
    --buy-color: #4caf50;
    --buy-hover: #5fc062;
    --red: #ed254e;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.btn-primary:active {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.bg-main {
    background-color: rgb(0, 115, 183, 0.98);
}

.btn-buy {
    background-color: var(--buy-color);
    border-color: var(--buy-color);
    color: #fff;
}
.btn-buy .text-muted {
    color: #f7f7f7 !important;
}

.btn-buy:hover {
    background-color: var(--buy-hover);
    color: #fff;
}

.btn-buy:active {
    background-color: var(--buy-hover) !important;
    color: #fff !important;
}

p {
    margin-bottom: 4px;
}

a:hover p {
    color: #000 !important;
}

body {
    margin-top: 56px;
    background-color: #fbfbfb;
}

main {
    min-height: 80vh;
}

footer {
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none !important;
}

.body_hide {
    opacity: 0;
    transition: 0.4s opacity ease-in-out;
}
.body_visible {
    opacity: 1;
}
