.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.ml-auto {
    margin-left: auto;
}

.caption-text {
    padding-inline: 0.5rem;
    border-radius: 1rem;
    width: fit-content;
    backdrop-filter: blur(2px);
}

.bg-blur {
    backdrop-filter: blur(2px);
}

.carousel-item {
    height: 32rem;
}

@media (min-width: 40em) {
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.first-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("/resources/images/first-image.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 40%;
}

.second-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.1) 37%,
            rgba(0, 0, 0, 0.3) 100%
        ),
        url("/resources/images/second-image.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;
    color: var(--primary-color);
}

.third-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("/resources/images/third-image.jpg");
    background-size: cover;
    background-position-x: 10%;
    background-position-y: center;
}

.bg-darkened {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.conditioner-image {
    background-image: url("/resources/images/conditioner.png");
    height: 100%;
    min-height: 200px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}

.text-danger {
    color: var(--red) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-area {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 54%
    );
}
