:root {
    --bg-blue: #0073b7;
    --bg-blue-active: #007ec7;
    --text-muted: #f0f0f0;
    --red: #ed254e;
    --bg-buy-button: #4caf50;
    --border-buy-button: #4caf50;
    --hover-bg-buy-button: #5fc062;

    /*     --buy-bg-button: #586994; */
}

.btn-primary {
    background-color: var(--bg-blue);
    border-color: var(--bg-blue);
}

.btn-primary:hover {
    background-color: var(--bg-blue-active);
    border-color: var(--bg-blue-active);
}

.btn-primary:active {
    background-color: var(--bg-blue-active);
    border-color: var(--bg-blue-active);
}

.navbar-nav > li > .dropdown-menu {
    background-color: var(--bg-blue);
}

.dropdown-item:hover {
    background-color: var(--bg-blue-active);
}

.bg-main {
    background-color: var(--bg-blue);
}

nav .dropdown-item {
    color: #d1dcff;
}

nav .nav-link {
    color: #d1dcff;
}

nav .nav-link:hover {
    color: #fff;
}

.icon-dot {
    color: var(--red) !important;
    font-weight: 900;
}

.btn-buy {
    background-color: var(--bg-buy-button);
    border-color: var(--border-buy-button);
    color: #fff;
}
.btn-buy .text-muted {
    color: #f7f7f7 !important;
}

.btn-buy:hover {
    background-color: var(--hover-bg-buy-button);
    color: #fff;
}

.btn-buy:active {
    background-color: var(--hover-bg-buy-button) !important;
    color: #fff !important;
}

p {
    margin-bottom: 4px;
}

a:hover p {
    color: #000 !important;
}

body {
    margin-top: 56px;
    background-color: #fbfbfb;
}

main {
    min-height: 80vh;
}

footer {
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none !important;
}
