.navbar-nav > li > .dropdown-menu {
    background-color: var(--primary-color);
}

.dropdown-item:hover {
    background-color: var(--primary-hover);
}

nav .dropdown-item {
    color: #d1dcff;
}

nav .nav-link {
    color: #d1dcff;
}

nav .nav-link:hover {
    color: #fff;
}

.icon-dot {
    color: var(--red) !important;
    font-weight: 900;
}
