.navbar-nav > li > .dropdown-menu {
    background-color: #0073b7;
}

.dropdown-item:hover {
    background-color: #007ec7;
}

nav .dropdown-item {
    color: #d1dcff;
}

nav .nav-link {
    color: #d1dcff;
}

nav .nav-link:hover {
    color: #fff;
}

.icon-dot {
    color: #ed254e !important;
    font-weight: 900;
}
